body {
    color: #333;
    background: #e4e4e9;
    font-family: 'Montserrat', sans-serif;
}
p, a, li {
    letter-spacing: 0.4px
}
#breadcrumb {
    margin: 3px 0 30px 0;
    font-size: 10px;
}
/*FAIXA TOPO*/
.topo {
    background: #2d3132;
    width: 100%;
    float: left;
    height: 30px;
    padding: 8px 0 0 0;  
    font-size: 12px; 
    color: #fff; 
    margin-bottom: 6px  ;
}
.topo a {
    font-size: 12.5px;
    color: #fff;
    text-decoration: none;
    padding: 0 8px;
    letter-spacing: 0.9px;
}
.topo p {
    font-size: 14px;
}
.topo .tel {
}
.topo .tel a i {
    padding: 0 3px 0 0;
}
.topo .redes-topo {
    text-align: center
}
.topo .redes-topo i {
    margin: 0;
    font-size: 16px;
    text-align: center;
}
/*FIM FAIXA TOPO*/

/*INICIO HEADER*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(53, 53, 53, 0.5);
    z-index: 1000;
    margin: 0 auto 0 0;
}
header .logo {
    margin: 3px auto;
    width: 80%;
}
header .logo a {
    display:block;
    text-decoration:none
}
/* FIM HEADER */

/* INICIO MENU */
.menu {
    margin-top: 37px;
    text-align: center
}
.menu-list, .menu-list-2 {
    padding:0;
    margin:0
}
.menu .menu-list,.menu .sub-menu, .menu .menu-list-2  {
    list-style:none
}
.menu a {
    color: #fff;
    text-decoration:none;
    display:block;
    cursor:pointer
}
.menu > .menu-list > li, .menu > .menu-list-2 > li {
    display:inline;
    position:relative
}
.menu > .menu-list > li > a, .menu > .menu-list-2 > li > a {
    display: inline-block;
    padding: 40px 20px;
    margin-top: -40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    transition: all 0.5s
}
.menu > .menu-list > li:hover > a, .menu > .menu-list-2 > li:hover > a {
    color: #D2691E;
    transition: all 0.5s
}
.menu > .menu-list > li:hover > .sub-menu, .menu > .menu-list-2 > li:hover > .sub-menu {
    display:block
}
.menu > .menu-list > li > .sub-menu, .menu > .menu-list-2 > li > .sub-menu {
    position: absolute;
    left: -2px;
    top: 0;
    min-width: 214px;
    z-index: 100;
    display: none;
    padding: 48px 0 0 0;
}
.menu > .menu-list > li > .sub-menu > li > a {
    padding: 8px 0;
    font-size: 12px;
    text-align: left;
    font-weight: 900;
    color: #272727;
}
.menu > .menu-list > li > .sub-menu > li:hover > a {
    border-radius: 5px;
    color: #D2691E;
    border-bottom: 3px solid;
}

/* Menu Mobile */
.slicknav_btn {
    background-color:#333
}
.slicknav_menu {
    background-color:#292929
}
.slicknav_brand a {
    color:#fff;
    font-size:14px;
    display:block;
    padding:0px 5px;
    font-weight:bold
}
.slicknav_brand a:active, .slicknav_brand a:hover, .slicknav_brand a:focus {
    text-decoration:none
}

/* Rodapé */
footer {
    padding: 10px 0 10px 0;
    background-color:#000;
    color:#fff;
    margin-top:0;
    float: left;
    width: 100%;
}
footer .logo {
    padding: 0 70px 0 0
}
footer .logo img {
    margin: 0 20px 0 
}
footer .logo i {
    padding: 21px 0 0 22px;
    font-size: 23px;
}
footer h5 {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    color: #d7ac67;
    letter-spacing: 1px;
}
footer ul {
    list-style-type:none;
    padding:0px
}
footer p {
    font-size: 14px;
    letter-spacing: 0.6px;
    color: #fff;
    margin: 5px 0;
    line-height: 20px;
}
footer li {
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 22px;
}
footer a {
    text-decoration: none !important;
    color: #fff;
    text-transform: none;
}
footer iframe {
    border: none;
    width: 100%;
    float: left;
    height: 180px;
}
footer .footer-copyright {
    padding: 5px 0;
    margin-top: 30px;
    background: #000;
}
footer .footer-copyright a {
    text-decoration:none;
}
footer .ass-q {
    text-align:right;
    font-size:14px;
    margin:0
}
footer .text-right {
    margin-top: 0;
}
footer hr {
    margin-bottom: 0;
}
footer .logo p {
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 20px;
    color: #fff;
    padding: 0 25px;
}
footer .footer-copyright p.desenvolvido {
    margin: 5px 20px;
    padding-bottom: 0;

}
/* DESENVOLVIDO POR ABSOLUT SBO */
footer .footer-copyright p.absolutsbo {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
    letter-spacing: 0.5px
}
footer .footer-copyright p.absolutsbo strong {
    color:#ff5726;
}
.menu-footer-mobile i.fab.fa-whatsapp {
    font-size: 42px;
    padding: 3px 0 0 0;
}


.baixa-absolut {
    border: 1px solid #ff5726;
    width: 40px;
    margin: 0 auto 5px auto;
    border-radius: 25px
}
/* FIM DESENVOLVIDO POR ABSOLUT SBO */
/* BOTÕES LATERAL/FIXO */
.btn-fixo a {
    position: fixed;
    right:15px;
    align-items: center;
    text-decoration: none;
    transition: 0.3s all ease;
    box-shadow: -1px 2px 3px 1px #888888b0;
    font-size: 28px;
    border-radius: 30px;
    background: #fff;
    z-index: 100000
}
.btn-fixo a.btn-telephone i {
    color:#5dcfdb;
}
.btn-fixo a.btn-whatsapp i {
    color:#f92d16;
}
.btn-fixo a.btn-mail i {
    color:#eff53a;;
}
a.btn-telephone {
    top: 400px;
    padding: 11px 12px;
    transition: 0.6s all;
    box-shadow: inset 0 0 32px #8edae2, 0 0 32px #8edae2;
}
a.btn-whatsapp {
    top: 475px;
    transition: 0.6s all;
    padding: 11px 13px;
    box-shadow: inset 0 0 32px #fd513e, 0 0 32px #fd513e;
}
a.btn-mail {
    top: 550px;
    transition: 0.6s all;
    padding: 11px 12px;
    box-shadow: inset 0 0 32px #eaee81, 0 0 32px #eaee81;
}
.btn-fixo a:hover {
    background: #eaeaea;
    transition: 0.6s all;
}
/* Main */
main h2 {
    font-size:22px
}
main.main-content p strong {
    font-weight:normal
}
/* Ajustes Mobile */
@media screen and (max-width: 40em) {
    .box-btn-modal-orcamento, .header-container-main {
        display:none
    }
    .topo {
        display: none
    }
    .btn-fixo {
        display: none
    }
    footer {
        text-align: center;
        /*width: 130%;*/
    }
    footer .icons-selos {
        text-align: center;
    }
    footer ul {
        margin: 15px 20px;
    }
    footer .btn-fixo {
        display: none;
    }
    footer .footer-copyright .text-right {
        text-align: center;
    }
    header {
        width: 100%;
    }   
    header img {
        display: none;
    } 
}
@media screen and (max-width: 768px) {
    header .logo {
        margin: 27px 0;
    }
    footer ul {
        margin: 15px 0;
    }
}
@media screen and (max-width: 1024px) {
    header .logo {
        margin: 27px 0;
    }
    footer ul {
        margin: 15px 50px;
    }
}