/* Página de Contato */
body {
    color: #333;
    background: #ececec;
}
main.main-content {
    margin-top: 170px;  
}
header {
    background-color: #4c4c4c;
    padding-bottom: 8px;
}
.pag-ctt h1 {
    text-align: left;
    font-size: 40px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    padding-bottom: 35px;
    color: #d8b343;
    padding: 0;
}
.pag-ctt h3, .pag-ctt h4 {
    margin:0;
    font-size: 28px
}
.pag-ctt p, .pag-ctt p a {
    color: #333;
    line-height: 23px;
    padding: 0;
    margin: 11px 0;
}
.pag-ctt i {
    font-size: 19px;
    padding: 0 7px 0 0;
    color: #c39d28;
}
.form-contato {
    margin-bottom: 30px;
    border: 1px solid #a9a9a9;
    padding: 50px 25px;
    border-radius: 3px;
    box-shadow: 0px 2px 7px 2px #d8d0d0;
}
.mapa-contato {
    width:100%;
    min-height:400px;
    border:none;
    float:left;
    display:block
}