main.main-content {
    margin-top: 170px;  
}
.cont-pag {
	width:90%;
	float: left;
	text-align: center;	
}
.cont-pag h1 {
    font-size: 30px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding-bottom: 35px;
}
.cont-pag p {
    font-size: 14px;
    color: #151414;
    line-height: 22px;
    letter-spacing: 0.3px;
}
.qualidade-serv {
	background: #fff;
	width:100%;
	float: left;
	margin: 30px 0 0 0;
	padding: 20px 0;
	text-align:center;
}
.qualidade-serv i {
    font-size: 50px;
    color: #212679;
    border: 3px solid #212679;
    padding: 20px 17px;
    border-radius: 50%;
    transition:all 0.5s;
}
.qualidade-serv i:hover {
    color: #2126798a;
    font-size: 55px;
    transition:all 0.5s;
}
.qualidade-serv p {
    font-size: 14px;
    padding: 0 13px;
    text-align: justify;
    line-height: 20px;
}