main.main-content {
    margin-top: 30px;  
    margin-bottom: 30px;
    background: #e4e4e9;
}
.banner-home {
    float: left;
    background-image: url(imagens/fachada.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin-bottom: -420px;
    margin-top: -31px;
}
/* ACIMA DO BANNER */
.acima-banner .col-md-2 {
    width:19.666667%;
}
.acima-banner {
	float: left;
 	width: 100%;
 	position:absolute;
 	bottom: -360px;
 	margin: 0 auto
}
.decor-paginicial {
	background: #fff;
	margin: 0 5px;
	box-shadow: 0 2px 7px 0 #0000007a;
    height: 420px;
    padding: 0;
    border:1px solid #908f8f;
    border-radius: 3px;
}
.zoom {
    overflow: hidden;
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.zoom:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.decor-paginicial img {
    width: 90%;
    margin: 8px auto;
}
.decor-paginicial p {
    color: #333;
    font-size: 14px;
    text-align: center;
    padding: 0 5px;
    margin:0;
    float: left;
    width: 100%;
}
.decor-paginicial h1 {
    text-align: center;
    font-size: 26px;
    margin: 18px 0;
    padding: 14px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 32px;
    color: #333;
    text-shadow: 0px 3px 3px rgb(140 140 140 / 90%);  
}
.decor-paginicial a.btn-banner {
    background: #ffc107;
    color: #333;
   padding: 10px 12px;
    float: left;
    margin: 30px 76px 0;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 10px 0;
}
.decor-paginicial a.btn-banner:hover {
    text-decoration:none;
    background:#efb302
}
/* FIM ACIMA DO BANNER */

/* SOBRE NOS HOME */
.sobre-nos {
    float: left;
    width: 100%;
    margin-top: 420px;
    background: #0d0d0e;
    padding-top: 65px;
    padding-bottom: 65px;
    color: #fff;
}
.sobre-nos img {
    width: 100%;
    margin: 0 auto;
}
.sobre-nos img.img-quem-somos{
    height: 800px;
    margin-top: -64px;
    margin-bottom: -65px;
    width: 120%;
    margin-left: -88px;
}
.img-1 {
    float: right;
}
.img-2 {
    float: left;
    height: 378px;
}
.sobre-nos h1 {
    font-size: 40px;
    color: #debb50;
    margin-top: 0;
    letter-spacing: 0px;
    line-height: 16px;
    text-align: center;
}
.sobre-nos h2 {
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
    letter-spacing: 0.4px;
    line-height: 28px;
    text-align: center;
}
.sobre-nos p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 27px;
    color: #fff;
}
.text-sobre {
    padding: 8px 15px;
}
.clientes {
    text-align: center;
    margin: 35px 0 0 0 
}
.clientes p {
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
}
h3.counter {
    font-size: 59px;
    margin: 0;
    padding: 0;
    color: #debb50;
}
.mais-empresa {
    float: left;
    width: 100%;    
    padding: 60px 0;
    text-align: center;
}

.mais-empresa i {
    font-size: 80px;
    margin: 0 auto;
    color: #e0b532;
    transition: all 0.5s
}
.mais-empresa i:hover {
    color: #e0b53294;
    font-size: 85px;
    transition: all 0.5s
}
.mais-empresa h2 {
    font-size: 24px;
    margin-top: 30px;
    letter-spacing: 1px;
}
.mais-empresa p {
    line-height: 23px;
    letter-spacing: 0.8px;
}
/* SOBRE NOS HOME */

/* SERVIÇOS HOME */
.servicos {
    background-size: cover;
    overflow: hidden;
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 760px;
    padding-top: 50px;
    margin-bottom: 0;
    background: #000;
    float: left;
}
.servicos h2 {
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 40px;
}
.servicos h3 {
    color: #fff;
    letter-spacing: 0.8px;
}
.servicos p {
    color: #fff;
}
.servicos img.title-diferenciais {
    width: 100%;
}
li {
    color: #fff;
}
.servicos img.img-servicos {
    width: 100%;
}


/* inicio servicos-vip */

.servicos-vip {
    color: #fff;
    background-color: #0f0f0f;
    padding-top: 70px;
    /*height: 830px;*/
    float: left;
    width: 100%;
}
.servicos-vip img.title-img-vip {
    width: 100%;
}
.servicos-vip .row img {
    width: 100%;
}
.servicos-vip .servicos-prestados a {
    text-decoration: none;
    color: #fff;
}
.servicos-vip .servicos-prestados a p {
    margin-bottom: 40px;
}
.servicos-vip .servicos-prestados a p.eventos{
    margin-bottom: 20px;
}
.vip-redes {
    float: left;
    width: 100%;
}
.servicos-vip .vip-redes a {
    text-decoration: none;
    margin-left: 100px;
    margin-top: 20px;
}
.servicos-vip .vip-redes a i {
    text-align: center;
    color: #eaee81;
    font-size: 30px;

    text-shadow: 0 0 8px rgba(225, 225, 225, 0.3), 0 0 29px #eaee81;
}

/* inicio carro noiva */

.carro-noiva {
    color: #fff;
    background-color:#010101;
    padding-top: 70px;
    /*height: 1246px;*/
    float: left;
    width: 100%;
}
.carro-noiva img {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.carro-noiva ul li p.comentario {
    font-size: 12px;
    margin: 0;
}
.carro-noiva img.carro-noiva-title {
    width: 100%;
}
.carro-noiva h2 {
    color: #8dc6d0;
}
.carro-noiva a.insta-carro-noiva {
    text-decoration: none;
    color: #fff;
    float: right;
    font-size: 25px;
    margin-right: 125px;
}
.carro-noiva a.insta-carro-noiva i {
    color: #8dc6d0;
    font-size: 40px;
    margin-right: 30px;

    text-shadow: 0 0 8px rgba(225, 225, 225, 0.3), 0 0 29px #8dc6d0;
}

/* Inicio de contato */

.contato {
    background-color: #10100f;
    padding-top: 75px;
    margin-bottom: -30px;
    padding-bottom: 50px;
    color: #fff;
    float: left;
    width: 100%;
}
.contato img.contato-title {
    width: 80%;
    margin-left: 70px;
}
.contato p {
    font-size: 18px;
}
.contato img.logo-contato {
    width: 100%;
}
.contato .redes-contato {
    margin-top: 38px;
}
.contato a.contato-redes {
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}
.contato a.contato-redes i {
    font-size: 30px;
}
.form-contato {
    margin-bottom: 30px;
    padding: 50px 25px;
    color: #fff;
}
.form-contato button {
    color: #000;
}

/* Fim de contato */

/* incio tranforme seu evento */

.tranforme-seu-evento {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #000;
    margin-bottom: -30px;
    float: left;
    width: 100%;
}
.tranforme-seu-evento .em-um-momento-unico{
    background-color: #2e3d40;
    float: left;
    width: 100%;
}
.tranforme-seu-evento .em-um-momento-unico img {
    width: 100%;
}

/* FOM SERVIÇOS HOME */
/* mapa site */

/* FINAL HOME */
.fim-home {
    width: 100%;
    float: left;
    margin: 40px 0 0 0
}
.fim-home img {
    width: 90%;
    box-shadow: 0 5px 10px 2px #00000066;
    margin: 20px 0;
}
iframe.mapa-contato {
    width: 100%;
    height: 400px;
    margin-top: 53px;
    border-top: 2px solid #bd9e41;
    border-bottom: 2px solid #bd9e41;
}

@media screen and (max-width: 40em) {
    .acima-banner {
        bottom: -291px;
    }
    .acima-banner .col-md-2 {
        width: 33.3%;
        margin: 0;
    }
    .decor-paginicial {
        height: 340px;
    }
    .decor-paginicial img {
        height: 140px;
    }
    .decor-paginicial h1 {
        font-size: 14px;
        margin: 12px 0;
    }
    .decor-paginicial a.btn-banner {
        margin: 30px 14px 0;
    }
    .img-1 {
        float: left;
    }
    .servicos {
        height: 1321px;
    }
    .contato img {
        width: 100%;
    }
    .sobre-nos img.img-quem-somos {
    margin-top: -64px;
    margin-bottom: -65px;
    width: 100%;
    margin-left: 0px;
    height: 310px;
    }    
    .servicos img.servicos-qualidade {
        width: 100%;
    }
    .sobre-nos {
    float: left;
    width: 100%;
    margin-top: -14px;
    background: #0d0d0e;
    padding-top: 85px;
    padding-bottom: 65px;
    color: #fff;
}
    /*.banner-home {
        width: 130%;
    }
    .sobre-nos {
        width: 130%;
    }
    .servicos {
        width: 130%;
        height: 2541px;
    }
    .contato {
        width: 130%;
    }
    .contato img {
        width: 100%;
    }*/
}