body {
    color: #333;
    background: #ececec;
}
main.main-content {
    margin-top: 170px;  
    text-align: center
}
header {
    background-color: #4c4c4c;
    padding-bottom: 8px;
}
.lista-thumbs section {
    text-align:center;
    min-height:200px;
    margin-bottom:10px;
    box-shadow:2px 2px 5px #888888
}
.lista-thumbs img {
    display:inline-block
}
p {
    text-align: left;
    padding-bottom: 27px;
}
h1 {
    text-align: left;
    font-size: 40px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    padding-bottom: 35px;
    color: #d8b343;
    padding: 0;
}
.lista-thumbs h2 {
    font-size:12px;
    margin:5px 0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.lista-thumbs h2 a {
    text-decoration:none;
    color:#666
}
.lista-thumbs h2 a:hover {
    text-decoration:underline
}
@media screen and (max-width:40em) {
    main.main-content {
        margin-top: 60px;
    }
    .lista-thumbs section {
        min-height:104px
    }
}
@media screen and (max-width:768px) {
    .menu > .menu-list > li > a, .menu > .menu-list-2 > li > a {
        display: inline-block;
        padding: 10px 6px;
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 12px;
    }
}
@media screen and (max-width:1024px) {
    .menu > .menu-list > li > a, .menu > .menu-list-2 > li > a {
        display: inline-block;
        padding: 10px 17px;
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        font-size: 12px;
    }
    .lista-thumbs section {
        min-height:155px
    }
}
